<div class="inner cover">
  <h1 class="cover-name">Trevor Strieber</h1>
  <h2 class="cover-heading">software developer</h1>
  <ul class="social-icons">

    <li class="social-icon">
      <%= link_to 'https://facebook.com/trev0r' do %>
        <%= fa_icon 'facebook-square' %>
      <% end %>
    </li>

    <li class="social-icon">
      <%= link_to 'https://www.google.com/+TrevorStrieber' do %>
        <%= fa_icon 'google-plus-square' %>
      <% end %>
    </li>

    <li class="social-icon">
      <%= link_to 'https://twitter.com/TrevorStrieber' do %>
        <%= fa_icon 'twitter-square' %>
      <% end %>
    </li>

    <li class="social-icon">
      <%= link_to 'https://www.linkedin.com/in/trev0r' do %>
        <%= fa_icon 'linkedin-square' %>
      <% end %>
    </li>

    <li class="social-icon">
      <%= link_to 'https://github.com/TrevorS' do %>
        <%= fa_icon 'github-square' %>
      <% end %>
    </li>
</div>
