<div class="col-md-5 col-md-offset-1 categories">
  <h4>Projects</h4>
  <ul class="projects">

    <li>
    <p class="project-name">Vimpire
    <a href="https://github.com/ATNI/vimpire" class="project-url">
      <%= fa_icon 'github-alt' %>
    </a>
    </p>
    </li>

  </ul>
</div>
<div class="col-md-5 col-md-offset-1 categories">
  <h4>Ruby Gems</h4>
  <ul class="gems">

    <li>
    <p class="gem-name">bootstrap3-datetimepicker-rails
    <a href="https://github.com/TrevorS/bootstrap3-datetimepicker-rails" class="gem-url">
      <%= fa_icon 'github-alt' %>
    </a>
    </p>
    </li>

    <li>
    <p class="gem-name">flipclockjs-rails
    <a href="https://github.com/TrevorS/flipclockjs-rails" class="gem-url">
      <%= fa_icon 'github-alt' %>
    </a>
    </p>
    </li>

    <li>
    <p class="gem-name">animate.css-rails
    <a href="https://github.com/TrevorS/animate.css-rails" class="gem-url">
      <%= fa_icon 'github-alt' %>
    </a>
    </p>
    </li>

    <li>
    <p class="gem-name">scrolld.js-rails
    <a href="https://github.com/TrevorS/scrolld.js-rails" class="gem-url">
      <%= fa_icon 'github-alt' %>
    </a>
    </p>
    </li>
  </ul>
</div>
